@charset "UTF-8";

 @media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    
    body{
        background-image: linear-gradient(to top, #e78660, #c7c3c3);
    }

    header{
        margin-bottom: 55px;
    }
    
    section#login{
        width: 90vw;
        height: 400px;
    }

    section#login #imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login #formulario{
        float: right;
        width: 65%;

    }

    section#login #formulario p{
        font-size: 1.1em;
    }

    form .campo input{
        background-color: #c7c7c7;
        font-size: 1em;
        height: 90%;
        width: calc(100% - 46px);
        border-radius: 10px;
        border: solid 1px #5c5c5c;
        padding: 10px;
        transform: translateY(-11px);
    }
    
} 

@media screen and (min-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #e78660, #c7c3c3);
    }

    header{
        margin-bottom: 40px;
    }

    section#login{
        width: 992px;
        height: 390px;
    }

    section#login #imagem{
        float: right;
        width: 45%;
        height: 100%;
    }

    section#login #formulario{
        float: left;
        width: 55%;
    }

    section#login #formulario h1{
        font-size: 2em;
    }

    section#login #formulario p{
        font-size: 1.2em;
    }

    form .campo input{
        background-color: #c7c7c7;
        font-size: 1em;
        height: 90%;
        width: calc(100% - 46px);
        border-radius: 10px;
        border: solid 1px #5c5c5c;
        padding: 10px;
        transform: translateY(-10px);
    }
}

