@charset "UTF-8";

/* 
    paleta de cores
    Verde #49a09d
    Cinza #c7c3c3
    Laranja #e78660
*/


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html{
    background-color: #e78660
}

body, html, main{
    width: 100vw;
    height: 97vh;
}

main{
    position: relative;
}

section#login{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 535px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    transition: ease width .3s, height .3s;
    transform: translate(-50%, -50%);
}

section#login #imagem{
    background: url(../imagens/pexels-harry-smith-2886268.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 200px;
    display: block;
}


section#login #formulario{
    display: block;
    padding: 10px;
}


section#login #formulario h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login #formulario p{
    font-size: .9em;
}

form .campo{
    background-color: #5c5c5c;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 8px 0;
    display: block;
}

form .campo i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form .campo input{
    background-color: #c7c7c7;
    font-size: 1em;
    height: 90%;
    width: calc(100% - 46px);
    border-radius: 10px;
    border: solid 1px #5c5c5c;
    padding: 10px;
    transform: translateY(-10.2px);
}

form input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #e78660;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid #5c5c5c6b;
}

form input[type=submit]:hover{
    background-color: #5c5c5c;
    border-bottom: solid 2px #e78660;
    transition: all .5s;
}

form a.botao{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
    font-size: .9em;
    border: solid 1px #e78660;
    color: #5c5c5c;
    border-radius: 5px;
    margin-top: 8px;
}

form .botao:hover{
    background-color: #5c5c5c;
    border: solid 1px white;
    color: white;
    transition: all .5s;
}

.botao i{
    font-size: 1.3em;
    padding-top: 6px; 
}



