@charset "UTF-8";

/* 
    paleta de cores
    Verde #49a09d
    Cinza #c7c3c3
    Laranja #e78660
*/

::-webkit-scrollbar-track{
    display: none;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html{
    background-color: #e78660
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 570px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login .campo{
    background-color: #b37459;
    margin: 10px 0;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
}

section#login form .campo input{
    padding: 5px;
    width: 80%;
    margin: 5px 0 0 8px;
}

section#login .campo label{
    display: none;
}

section #imagem{
    display: block;
    background: #82602c url(../imagens/pexels-harry-smith-2886268.jpg) no-repeat center;
    background-size: cover;
    height: 200px;
}


section #formulario{
    display: block;
    padding: 10px;
    text-align: justify;
}

form input[type= submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #eb8f6b;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type= submit]:hover {
    color: #585858;
    background-color: #c7c3c3;
    transition: all .5s;
}

form a.botao{
    display: block;
    text-align: center;
    border: 1px solid #eb8f6b;
    color: #8b5843;
    font-size: .8em;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
}

form a.botao:hover{
    background-color: #c7c3c3;
    color: #585858;
    border: solid 1px #c7c3c3;
    transition: all .5s;
}